
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', Arial;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
header{
 background-color: #1F2937;
 color: #F9FAF8;
 font-weight: 500;
 font-size: 24px;
 display: flex;
 justify-content: space-around;
 padding: 18px;
}
header>ul{
    font-weight: 300;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 25px;
}
.title-container{
    background-color: #1F2937;
    height: 20rem;
    padding-top: 5rem;
}
.title-left>.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}
.title-left>.subtitle{
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

ul{
    margin: 0;
}
.title-button{
    background-color: #3882F6;
    border: none;
    border-radius: 3.5px;
    padding: 4px 20px;
    font-weight:500;
    letter-spacing: 0.03rem;
color: white;
margin-top: 10px;
margin-left: 10px;
}

.title-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
    max-width: 80%;
    margin: 0 auto;
    
}
.title-left{
    width: 40%;
}
.title-pic{
    height: 320px;
    width: auto;
}
/*second block*/
.pics-container{
    background-color: #F9FAF8;
    height: 450px;
}
.pics-container>.pics-imgs{
    display:flex;
    list-style: none;
    margin-top: 50px;
    justify-content: center;
    gap: 50px;
}
.pics-container>.pics-text{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.text-under{
    width: 150px;
    text-align: center;
    flex-basis: 50%;
    
    
}

.text-pics{
    font-size: 36px;
    color: #1F2937;
    font-weight:bold;
    text-align: center;
    margin-top: 30px;
}

/* quote container */
.quote-container{
    height: 450px;
    background-color: #E5E7EB;
    
}
.quote-container>.text{
    margin: 120px auto;
    width: 45%;
    font-weight: 200;
    font-style: italic;
    font-size: 36px;
}
.quote-container>.text-author{
    font-weight: bolder;
    text-align: center;
    margin-left: 190px;
    margin-top: -120px;
}

/*signup container*/
.signup-container{
    height:450px;
    background-color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-box{
    background-color: #3882F6;
    width: 47%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    border-radius: 10px;
}
.call-to-action{
    color: white;
    font-weight: bolder;
}
.call-to-action-sub{
    color: #ffffffc2;
    font-size: smaller;
}
.left-signup>li{
    list-style: none;
}
.btm-button{
    color: white;
    background-color: #3882F6;
    border-radius: 3.5px;
    padding: 4px 20px;
    font-weight:500;
    letter-spacing: 0.03rem;
    margin-top: 10px;
    margin-left: 10px;
    border-color: white;
    border-style: solid;
}

footer{
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 17px;
    letter-spacing: 0.04rem;

}