
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

body{
    margin: 0;
    font-family: 'Roboto';
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
header{
 background-color: #1F2937;
 color: #F9FAF8;
 font-weight: 500;
 font-size: 24px;
 display: flex;
 justify-content: space-around;
 padding: 18px;
}
header>ul{
    font-weight: 300;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 25px;
}
.title-container{
 background-color: #1F2937;   
 
}

ul{
    margin: 0;
}