
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', Arial;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
header{
 background-color: #1F2937;
 color: #F9FAF8;
 font-weight: 500;
 font-size: 24px;
 display: flex;
 justify-content: space-around;
 padding: 18px;
}
header>ul{
    font-weight: 300;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 25px;
}
.title-container{
    background-color: #1F2937;
    height: 20rem;
}
.title-left>.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}
.title-left>.subtitle{
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

ul{
    margin: 0;
}
button{
    background-color: #3882F6;
    border: none;
    border-radius: 3.5px;
    padding: 4px 20px;
    font-weight:500;
    letter-spacing: 0.03rem;
}
.title-button{
color: white;
margin-top: 10px;
margin-left: 10px;
}

.title-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 150px;
}
.title-left{
    width: 30%;
}
.title-pic{
    height: 320px;
    width: auto;
}